---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Samuel Brown" description="About Samuel Brown">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/rain.jpg"
					alt="Samuel Brown with friends"
				/>
			</Hero>

			
			<section>
				<h2 class="section-title">Bit about me</h2>
				<div class="content">
					<p>In my free time, I enjoy surfing, going to the gym, visiting Swansea in the summer, and returning to Reading to see friends. I also love camping and exploring Bristol.
						 In the photo above you can see me and some friends on top of a very rainy Pen Y Fan!</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>I began my education at <a href="https://www.theforestschool.com/">Forest School</a> </p>
					<p>For my GCSEs and A-levels, I attended <a href="https://www.utcreading.co.uk/">UTC Reading</a>, where I developed a strong interest in computer science.</p>
					<p>I then pursued a degree in Computer Science at <a href="https://www.swansea.ac.uk/">Swansea University</a>, which provided me with in-depth knowledge and skills in software development, plus some great surf spots!</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>My skills include a mix of people skills, continuous learning, and thinking outside the box from an outsider's perspective.
						 I love building new products and generating new ideas. I also try really hard to think of the easiest way possible to do something,
						 with the appropriate amount of quality.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.images-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 50px; 
	}

	.images-container img {
		width: 70%; 
	}
	
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
